.lead {
  max-width: 984px;
  margin: 56px auto 0;
  text-align: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@media (min-width: 1019px) and (max-width: 1274px) {
  .lead {
      max-width: 928px;
  }
}

@media (min-width: 763px) and (max-width: 1018px) {
  .lead {
      max-width: 100%;
  }
}

@media (min-width: 501px) and (max-width: 762px) {
  .lead {
      max-width: 490px;
  }
}

@media (min-width: 446px) and (max-width: 500px) {
  .lead {
      max-width: 390px;
  }
}

@media (min-width: 320px) and (max-width: 445px) {
  .lead {
      max-width: 320px;
  }
}

@media (min-width: 320px) and (max-width: 1274px) {
  .lead {
      margin: 48px auto 0;
  }
}
