.photo-grid__item {
  max-width: 284px;
  max-height: 213px;
}

@media (min-width: 1019px) and (max-width: 1274px) {
  .photo-grid__item {
      min-width: 300px;
      min-height: 225px;
  }
}

@media (min-width: 763px) and (max-width: 1018px) {
  .photo-grid__item {
      min-width: 351px;
      min-height: 264px;
  }
}

@media screen and (max-width: 762px) {
  .photo-grid__item {
      max-width: 288px;
      min-height: 216px;
  }
}
