.footer__link {
  margin-right: 18px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

@media screen and (max-width: 762px) {
  .footer__link {
      font-size: 24px;
      line-height: 24px;
      margin: 0 40px 32px 0;
  }
}
