.place__url-heading {
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #aaaaaa;
  text-transform: uppercase;
  line-height: 12px;
}

@media screen and (min-width: 1019px) {
  .place__url-heading {
      line-height: 20px;
  }
}
