.lead__image {
  max-width: 984px;
  max-height: 615px;
  padding: 64px 0 0;
}

@media (min-width: 1019px) and (max-width: 1274px) {
  .lead__image {
      max-width: 928px;
      max-height: 580px;
  }
}

@media (min-width: 763px) and (max-width: 1019px) {
  .lead__image {
      max-width: 100%;
      max-height: 480px;
  }
}

@media (min-width: 320px) and (max-width: 763px) {
  .lead__image {
      max-height: 200px;
      max-width: 319px;
      padding: 40px 0 0;
  }
}

@media (min-width: 445px) and (max-width: 1274px) {
  .lead__image {
      padding: 56px 0 0;
  }
}
