.place {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: grid;
  row-gap: 48px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(46px, 1fr);
  flex-wrap: wrap;
  max-width: 984px;
  margin: 80px auto 0;
}

.place:first-of-type {
  margin: 92px auto 0;
}

@media screen and (min-width: 1274px) {
  .place {
      column-gap: 40px;
  }
}

@media (min-width: 1019px) and (max-width: 1280px) {
  .place {
      column-gap: 32px;
      max-width: 928px;
  }
}

@media (min-width: 763px) and (max-width: 1018px) {
  .place {
      max-width: 720px;
      margin: 73px auto 0;
      column-gap: 28px;
  }
  .place:first-of-type {
      margin: 88px auto 0;
  }
  .place:last-of-type {
      margin: 75px auto 0;
  }
}

@media (min-width: 320px) and (max-width: 762px) {
  .place {
      margin: 50px auto 0;
      max-width: 319px;
      display: flex;
      row-gap: 0;
  }
  .place:first-of-type {
      margin: 64px auto 0;
  }
}
